# While a lot of configuration in Sentry can be changed via the UI, for all
# new-style config (as of 8.0) you can also declare values here in this file
# to enforce defaults or to ensure they cannot be changed via the UI. For more
# information see the Sentry documentation.

# If this file ever becomes compromised, it's important to regenerate your SECRET_KEY
# Changing this value will result in all current sessions being invalidated
system.admin-email: '<%= @admin_email %>'
system.secret-key: '<%= @secret_key %>'
system.url-prefix: 'https://<%= @fqdn %>'

filestore.backend: 'gcs'
filestore.options:
  bucket_name: 'gitlab-sentry'

mail.backend: 'django.core.mail.backends.smtp.EmailBackend'
mail.host: '<%= @smtp['host'] %>'
mail.password: '<%= @smtp['password'] %>'
mail.username: '<%= @smtp['user'] %>'
mail.port: <%= @smtp['port'] %>
mail.use-tls: <%= @smtp['tls'] %>
mail.from: '<%= @smtp['mail_from'] %>'

redis.clusters:
  default:
    hosts:
      0:
        host: '<%= @redis['host'] %>'
        port: <%= @redis['port'] %>
<%- if @slack -%>

slack.client-id: '<%= @slack['client-id'] %>'
slack.client-secret: '<%= @slack['client-secret'] %>'
slack.verification-token: '<%= @slack['verification-token'] %>'
<%- end -%>
