server {
  listen 80;
  server_name <%= @fqdn %>;
  server_tokens off;
  return 301 https://<%= @fqdn %>$request_uri;
}

server {
  listen 443;
  server_name <%= @fqdn %>;
  server_name_in_redirect off;
  add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

  ssl on;
  ssl_certificate /etc/ssl/<%= @fqdn %>.crt;
  ssl_certificate_key /etc/ssl/<%= @fqdn %>.key;
  ssl_protocols TLSv1.2;
  ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
  ssl_prefer_server_ciphers off;

  proxy_set_header Host $http_host;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Forwarded-For $remote_addr;
  proxy_redirect off;

  # keepalive + raven.js is a disaster
  keepalive_timeout 0;

  # use very aggressive timeouts
  proxy_read_timeout 30s;
  proxy_send_timeout 5s;
  send_timeout 5s;
  resolver_timeout 5s;
  client_body_timeout 5s;

  # buffer larger messages
  client_max_body_size 5m;
  client_body_buffer_size 100k;

  location / {
    proxy_pass http://localhost:9000;
  }
}
