[program:sentry-web]
directory=<%= @install_path %>
environment=SENTRY_CONF="/etc/sentry",GOOGLE_APPLICATION_CREDENTIALS="<%= @gcs_creds_path %>"
command=<%= @install_path %>/bin/sentry run web
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/sentry-web.log
stderr_logfile=/var/log/supervisor/sentry-web.log

[program:sentry-worker]
directory=<%= @install_path %>
environment=SENTRY_CONF="/etc/sentry",GOOGLE_APPLICATION_CREDENTIALS="<%= @gcs_creds_path %>"
command=<%= @install_path %>/bin/sentry run worker
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/sentry-worker.log
stderr_logfile=/var/log/supervisor/sentry-worker.log
user=www-data

[program:sentry-cron]
directory=<%= @install_path %>
environment=SENTRY_CONF="/etc/sentry",GOOGLE_APPLICATION_CREDENTIALS="<%= @gcs_creds_path %>"
command=<%= @install_path %>/bin/sentry run cron
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/sentry-cron.log
stderr_logfile=/var/log/supervisor/sentry-cron.log
